NEXT_PUBLIC_SUPABASE_URL=your_supabase_url
NEXT_PUBLIC_SUPABASE_ANON_KEY=your_supabase_anon_key
NEXT_PUBLIC_SERVER_URL=http://localhost:3000


DEVICE_HMAC_SECRET=change-this-to-a-long-random-secret


NEXT_MEDIA_UPLOAD_ENDPOINT=http://localhost:8000/upload
NEXT_PUBLIC_USE_PHP_UPLOAD=false
